  body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
  }

  .form-faleconosco {
      width: 50%;
      margin: 50px auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
  }

  .form-faleconosco h2 {
      text-align: center;
      color: #333;
  }

  .form-faleconosco form {
      display: flex;
      flex-direction: column;
  }

  .form-faleconosco label {
      margin-bottom: 10px;
      color: #555;
  }

  .form-faleconosco input[type="text"],
  .form-faleconosco input[type="email"],
  .form-faleconosco textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-sizing: border-box;
  }

  .form-faleconosco input[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: #007BFF;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
  }

  .form-faleconosco input[type="submit"]:hover {
      background-color: #0056b3;
  }