{% extends "base.html" %}
{% load static %}

{% block title %}Doação - Projeto Sarah{% endblock %}

{% block content %}
<div class="container my-5 text-center">
    <div class="card p-5 shadow-sm">
        <div class="doacao-pix">
            <h2 class="fw-bold mb-3">Faça uma doação via Pix</h2>
            <p class="lead mb-4">Escaneie o QR Code abaixo com o aplicativo do seu banco para fazer uma doação de forma rápida e segura:</p>
            <img id="logopix" src="{{ static_images.pix_qr_code.image.url }}" alt="{{ static_images.pix_qr_code.description }}" class="img-fluid rounded border shadow-sm">
        </div>
    </div>
</div>
{% endblock content %}
```html