{% extends 'base.html' %}

{% load static %}

{% block title %}Página Inicial - [Nome da sua ONG]{% endblock %}

{% block content %}

<section>
    <div class="hero">
        <img src="{% static 'img/imagem-gravida-projetosarah.jpg' %}" alt="Imagem de destaque" class="img-fluid">
    </div>
</section>

<section style="background-color: #f8bbd0; padding: 10px; border-radius: 10px;">
<h1>Notícias</h1>
<p>Notícias de eventos e projetos:</p>

<div class="carousel-container2" style="overflow: hidden;">
  <div class="carousel-track2" style="display: flex; flex-direction: row; white-space: nowrap; transition: transform 0.3s ease;">
    {% for caso in casos %}
    <div class="card-wrapper2" style="flex: 0 0 auto; width: calc(100% / 3); padding-right: 10px;">
      <div class="card">
        {% if caso.imagem %}
        <img src="{{ caso.imagem.url }}" class="card-img-top" alt="{{ caso.titulo }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ caso.titulo }}</h5>
          <p class="card-text">{{ caso.descricao }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</section >

<section class="projeto-sarah-section">
  <div class="titulo-doacao">
    <hr>
    <h1>PROJETO SARAH</h1>
  </div>

  <div class="botao-doar">
    <button onclick="location.href='/pagina-doacao/'">DOE AGORA!</button>

  </div>

  <div class="campanhas">
    <h2>Campanhas de Arrecadação</h2>
    <p>Use this space to highlight your most popular services. You can also use this para seus produtos principais.</p>
  </div>

  <div class="icone-simples">
    <div class="icon-circle">
      <span>💖</span>
    </div>
  </div>
</section>


<section style="background-color: #f8bbd0; padding: 10px; border-radius: 10px;">
<!-- Depoimentos -->
<h1>Depoimentos</h1>
<p>Conheça algumas histórias de como estamos ajudando meninas grávidas:</p>

<div class="carousel-container3"  style="padding: 40px 20px; display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
  <div class="carousel-track3" style="display: flex; flex-direction: row; white-space: nowrap; transition: transform 0.3s ease;">
    {% for depoimento in depoimentos %}
    <div class="card-wrapper3" style="flex: 0 0 auto; width: calc(100% / 3); padding-right: 10px;">
      <div class="card">
        {% if depoimento.imagem %}
        <img src="{{ depoimento.imagem.url }}" class="card-img-top" alt="{{ depoimento.titulo }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ depoimento.titulo }}</h5>
          <p class="card-text">{{ depoimento.texto }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</section
   
{% endblock %}